</!DOCTYPE html>
<html>
<head>
	<title>Voxy Test</title>
<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="voxy.js"></script>
</head>
<body>
<form action="/count" method="post" name="count_form" id="count_form">
<table align="center">
<tr><td>
<h2>Count words</h2>
</td></tr>
<tr><td>
<textarea rows="5" cols="50" name="text_words" id="text_words" required maxlength="10000" form="count_form"><%= text %></textarea>
</td></tr>
<tr><td>
<input type="submit" value="Count!">
</td></tr>
<% if count > 0 %>
<tr><td>
	There is <%= count %> words in Form
</td></tr>
<% else %>
<tr><td>
	ERROR: There is no words in Form
</td></tr>
<% end %>
</table>
</form>

</body>
</html>